$red-color: hsl(7, 99%, 70%);
$red-color-light: hsl(7, 99%, 70%, 0.5);
$yellow-color: hsl(51, 100%, 49%);
$yellow-color-light: hsla(51, 100%, 49%, 0.5);
$graphic-text-color: hsl(167, 40%, 24%);
$photo-text-color: hsl(198, 62%, 26%);
$footer-color: hsl(168, 34%, 41%);
$footer-color-light: hsl(167, 44%, 70%);
$dark-blue: hsl(212, 27%, 19%);
$very-dark-gray-blue: hsl(213, 9%, 39%);
$dark-gray-blue: hsl(232, 10%, 55%);
$gray-blue: hsl(210, 4%, 67%);

$font-stack: "Barlow", sans-serif;
$font-heading: "Fraunces", serif;
